<div class="ui fixed menu">
  <div class="ui container">
    <div class="ui action input">
        <input placeholder="Search..." type="text" [(ngModel)]="searchTerm">
        <button class="ui icon button" (click)="compileSearch()" >
          <i class="search icon"></i>
        </button>
      </div>
    <a routerLink="home" class="item"><i class="home icon"></i>Home</a>
    <a routerLink="contact" class="item"><i class="mail icon"></i> Contact</a>
    <div class="ui simple dropdown item"><img class="icon" src="../../assets/images/book_sml.jpeg">
       {{selectedBook}} <i class="dropdown icon"></i>
      <div class="menu">
        <a (click)="selectBook('bible')" class="item">Bible</a>
        <a (click)="selectBook('quran')" class="item">Quran</a>
        <div class="divider"></div>
        <div class="header">Hindo</div>
        <div class="item">
          <i class="dropdown icon"></i>
          Baghva Gita
          <div class="menu">
            <a class="item" href="#">Upinashad</a>
            <a class="item" href="#">Others</a>
          </div>
        </div>
        <a class="item" href="#">Sabi</a>
      </div>
    </div>
    <div class="right menu">
      <div class="item">

        <a class="ui basic teal button" href="#"><i class="sign in icon"></i>Log in</a>
      </div>
      <div class="item">
        <a class="ui basic blue button" href="signup"><i class="add user icon"></i>Sign up</a>
      </div>
    </div>
  </div>
</div>
