<div class="comment">
<div [suiTransition]="transitionController"> <!-- -->
  <a class="avatar">
    <img src="../../assets/images/elliot.jpg">
  </a>
  <div class="content">
    <a class="author">{{comment._source.user}}</a>
    <div class="metadata">
      <span class="date">{{comment._source.timestamp}}</span>
    </div>
    <div class=" ui text">
      <p>{{comment._source.comment}}</p>
    </div>
    </div>
    <div class="actions">
      <a class="reply">Reply</a>
    </div>
  </div>
</div>
<hr>

<!--
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="../../assets/images/jenny.jpg">
        </a>
        <div class="content {{transition}}">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
-->
